

body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
}
h1,
h2,
h3,
h4,
h5  {
    font-family: 'Cormorant SC', serif;
}


#company-logo{
    height: 132px;
    width: 120px;
    text-align: center;
    margin-left: 6px;
}

a {
    font-family: 'Cormorant SC', serif;
    color: lightgrey;
    text-decoration: none;
    margin-right: 15px;
    font-size: 1.2em;
}

.collapse{
    justify-content: center;
    font-weight: 700;
}


.nav-item > li{
  list-style-type: none;
  margin-bottom: 18px;
  text-align: left;
}

.nav-item > li:hover{
  cursor: pointer;
  transform: scale(1.1);
}


/*---------------------------------Media Queries*/

@media screen and (max-width:767px) {
  #company-logo {
      width: 112px !important;
      height: auto;
  }

  .nav-item {
      font-size: initial;
      justify-content: none;
  }

  .nav-brand{
     text-align: center;
     padding-left: 20px
  }

  #tus-pic{
      width: 100%;
  }

  #map{
      width: 90% !important;
      height: 450px !important;
  }
}


@media screen and (max-width:1024px ){
  #company-logo{
      width: 180px;
      height: auto;
  }
  
  .nav-item > li{
    list-style-type: none;
    margin-bottom: 15px;
    text-align: center;
  }

  .nav-brand{
     text-align: center;
     padding-left: 20px
  }

}